<div *ngIf="updatedMaterial">      
    <!-- Form cập nhật thông tin sản phẩm -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h3>Cập nhật chất liệu</h3>
          <form (ngSubmit)="updateMaterial()">
            <div class="form-group mb-3">
              <label for="name">Tên chất liệu:</label>
              <input type="text" id="name" 
                [(ngModel)]="updatedMaterial.name" 
                name="name" class="form-control" required>
            </div>     
            <a routerLink="/admin/materials" class="me-3">Trở lại</a>                            
            <button type="submit" class="btn btn-primary">Cập nhật</button>
          </form>
        </div>
      </div>
    </div>
  </div>