<app-header></app-header>
<main class="py-5">
    <section class="intro container d-flex align-items-center justify-content-between flex-wrap">
        <div class="intro-logo mb-3">
        </div>
        <div class="intro-text fs-5 fw-medium">
            <p><strong>DIOR_Fashion</strong> 2 năm - Khoác lên niềm vui gia đình Việt<br>
                Năm 2025, Công ty Cổ phần Thương mại và Dịch vụ Hoàng Đức được thành lập với mục đích chính ban đầu là hoạt động trong lĩnh vực sản xuất hàng thời trang xuất khẩu với các sản phẩm chủ yếu là âu phục nam và lễ phục. Năm 2022 thương hiệu thời trang VPS-Fashion ra đời, tự hào trở thành một cột mốc đáng nhớ của doanh nghiệp Việt trong ngành thời trang.</p>
        </div>
    </section>

    <section class="goal container text-center py-5">
        <p class="fs-5 fw-medium">
            <strong>DIOR-Fashion</strong> hướng đến mục tiêu mang lại niềm vui mặc mỗi ngày cho hàng triệu người tiêu dùng Việt. Chúng tôi tin rằng người dân Việt Nam cũng đang hướng đến một cuộc sống năng động, tích cực hơn.
        </p>
        <img src="https://theme.hstatic.net/200000000133/1001205759/14/slide_1_img.jpg?v=2074" alt="Gia đình mặc áo đỏ" width="500" class="img-fluid rounded shadow" />
    </section>
</main>
<app-contac></app-contac>
<app-footer></app-footer>