<div class="container-fluid">
    <header class="header bg-success text-white d-flex justify-content-between">
      <h1 class="header-title">ADMIN MANAGER</h1>
      <!-- Logout Button -->
      <button class="btn btn-danger btn-sm" (click)="logout()">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
    </header>
    <div class="row">
      <nav id="sidebar" class="col-md-2 col-lg-2 d-md-block bg-light sidebar">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" 
                (click)="showAdminComponent('orders')">
                <i class="fab fa-first-order icon"></i>Hóa đơn
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
                (click)="showAdminComponent('categories')">
                <i class="fa-solid fa-list icon"></i>Danh mục
              </a>
            </li>
               <li class="nav-item">
              <a class="nav-link" 
                (click)="showAdminComponent('brands')">
                <i class="fa-solid fa-b icon"></i>Thương hiệu
              </a>
            </li>
                  <li class="nav-item">
              <a class="nav-link" 
                (click)="showAdminComponent('styles')">
                <i class="fa-solid fa-circle-half-stroke icon"></i>Phong cách
              </a>
            </li>
                      <li class="nav-item">
              <a class="nav-link" 
                (click)="showAdminComponent('materials')">
                <i class="fab fa-canadian-maple-leaf icon"></i>Chất liệu
              </a>
            </li>
                <li class="nav-item">
              <a class="nav-link" 
                (click)="showAdminComponent('origins')">
             <i class="fa-solid fa-globe icon"></i>  Xuất xứ
              </a>
            </li>
                    <li class="nav-item">
              <a class="nav-link" 
                (click)="showAdminComponent('colors')">
             <i class="fa-solid fa-palette icon"></i>  Màu sắc
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
                (click)="showAdminComponent('products')">
                <i class="fab fa-codepen icon"></i>Sản phẩm
              </a>
            </li>
               <li class="nav-item">
              <a class="nav-link" 
                (click)="showAdminComponent('users')">
                <i class="fa-solid fa-users icon"></i>  Khách hàng
              </a>
            </li>
                  <li class="nav-item">
              <a class="nav-link" 
                (click)="showAdminComponent('employees')">
             <i class="fa-solid fa-address-card icon"></i>  Nhân viên
              </a>
            </li>
                     <li class="nav-item">
              <a class="nav-link" 
                (click)="showAdminComponent('statisticals')">
             <i class="fa-solid fa-chart-simple icon"></i>  Thống kê
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="col-md-10 col-lg-10 overflow-auto">
            <router-outlet></router-outlet>
      </div>
    </div>
  </div>