<div *ngIf="updatedOrigin">      
    <!-- Form cập nhật thông tin sản phẩm -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h3>Cập nhật xuất xứ</h3>
          <form (ngSubmit)="updateOrigin()">
            <div class="form-group mb-3">
              <label for="name">Tên quốc gia:</label>
              <input type="text" id="name" 
                [(ngModel)]="updatedOrigin.name" 
                name="name" class="form-control" required>
            </div>     
            <a routerLink="/admin/origins" class="me-3">Trở lại</a>                            
            <button type="submit" class="btn btn-primary">Cập nhật</button>
          </form>
        </div>
      </div>
    </div>
  </div>