  <h2>Thêm nhân viên mới</h2>
  <form #registerForm="ngForm">
        <div class="mb-3">
          <input type="text" class="form-control" 
              [(ngModel)]="phoneNumber"
              name="phone"
              (input)="onPhoneChage()"
              (focus)="registerForm.form.markAllAsTouched()"
              required id="phoneNumber"
              id="phone"
            placeholder="Số điện thoại" required />
        <div class="divider-nospace"></div>
        <p
              class="text-danger"
              *ngIf="phoneNumber.length < 10 && registerForm.form.touched"
            >
              Số điện thoại phải là 10 số
            </p>
        </div>
             <div class="mb-3">
          <input type="text" class="form-control"
          placeholder="Họ tên"
           [(ngModel)]="fullName"
              required
              (focus)="registerForm.form.markAllAsTouched()"
              name="fullName"
              id="fullname"/>
               <div class="divider-nospace"></div>
            <p
              class="text-danger"
              *ngIf="fullName.length < 6 && registerForm.form.touched">
              Tên phải có ít nhât 6 kí tự.
            </p>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" [(ngModel)]="password"
              name="password"
               (input)="registerForm.form.markAsTouched();
                checkPasswordsMatch()"
              id="password" placeholder="Mật khẩu" required />
                          <div class="divider-nospace"></div>
                            <p
              class="text-danger"
              *ngIf="retypePassword.length < 6 && registerForm.form.touched">
              Mật khẩu phải có 6 ký tự.
            </p>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control"
          [(ngModel)]="retypePassword"
             name="retypePassword"
              (input)="registerForm.form.markAllAsTouched(); checkPasswordsMatch()"
              id="confirm-password"
          placeholder="Mật khẩu nhập lại" required />
          <div class="divider-nospace"></div>
          <p
              class="text-danger"
              *ngIf="
                registerForm.form.controls['retypePassword'].hasError(
                  'passwordMismatch') && registerForm.form.touched">
              Mật khẩu gõ lại chưa chính xác
            </p>
        </div>
        <div class="mb-3">
            <input type="date" class="form-control" placeholder="Năm sinh"
             name="dateOfBirth"
              [(ngModel)]="dateOfBirth"
              (input)="registerForm.form.markAllAsTouched(); checkAge()"
              required
              id="date-of-birth" />
        </div>
            <div class="divider-nospace"></div>
            <p class="text-danger"
              *ngIf="
                registerForm.controls['dateOfBirth'].hasError('invalidAge') &&
                registerForm.form.touched">
              Bạn chưa đủ 16 tuổi
            </p>
        <div class="mb-3">
            <input type="text"  [(ngModel)]="address"
              required
              class="form-control"
              id="address"
              name="address"
               placeholder="Địa chỉ" />
              <div class="divider-nospace"></div>
            <p
              class="text-danger"
              *ngIf="address.length < 6 && registerForm.form.touched"
            >
              Địa chỉ có ít nhất 6 ký tự.
            </p>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox"  [(ngModel)]="isAccepted"
                  id="agree"
                    #accept="ngModel"
                    name="isAccepted">
            <label class="form-check-label text" for="agreeTerms">
                Bạn chấp nhận tạo tài khoản nhân viên mới?
            </label>
               <p class="text-danger"
       *ngIf="accept.invalid && (accept.touched || registerForm.submitted)">
      Bạn cần xác nhận
    </p>
        </div>
        <button type="submit" (click)="register()" class="btn btn-success w-100 mt-2">ĐĂNG KÝ</button>
      </form>